.shadow:hover{
    box-shadow: 10px 5px 5px #212529 !important;
}
.bg-gray{
    background-color: #2e1817 !important;
}
.wrapper{
    position: relative;
}

.wrapper span{
    content:attr(data-count string);
    position: absolute;
    top: -2px;
    left: 20px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
}

.text-underline-hover:hover {
    text-decoration: underline; !important;
}
*{
    list-style: none;
}
.height_container{
    height: calc(100vh - 50px);
}

.carousel-item>div {
    height:60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    background-color: rgb(33,37,41);

}
.carousel-item > img{
    display: block;
    object-fit: cover;
}
